
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');*/* endryshion stilin e fontit */


h1{
    color: green !important;  /*i jep ngjyr*/
    letter-spacing: 20px;  /*i jep hapsire fjales qe e kemi shenu */
    word-spacing: 20px;   /*e ben te njejtion veprim si letter spaceing*/
    text-transform: lowercase; /*e lejon qe me kthy textin ne shkronja te vogla*/
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
      
      
}

p{
    text-indent: 50px; /*e lejon paragrafin me u shtu 50px djathtas, nese i shtojm tagun br ne html ateher vazhdon paragrafi tjeter normal*/
    text-align: center; /*e lejon textin me dal ne mes*/
    text-transform: capitalize;/* e lejon qe ne text shkronjat e para mi kthy ne shkronja te medha*/
    font-size: 6rem;/* errit textin*/
   /* writing-mode: vertical-lr;*//* e leon textin me kthy vertikal prej te majtes ne te djatht*/
    /*writing-mode: vertical-rl;*//* e leon textin me kthy vertikal prej te djathtes ne te majt*/
    /*writing-mode: horizontal-tb;*//* e kthen textin normal*/
}

h2{
    text-decoration: overline; /* e lejon ne text me dal vije nalt*/
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.3);  /*e lejon qe ne text me ba ni hijezim te shkronjave me cfardo ngjyre te percaktuar*/
}

h3{
    text-decoration: line-through;/* e lejon me dal ni vi ne mes textit*/
    
}

h4{
    text-decoration: underline;/* e lejon me dal ni vi poshte*/
}

div{
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); /* e lejon ne text me dal form gjeometrike*/
    background-color: blue; /*i jep ngjyr form gjeometrike*/
    width: 50px;
    height: 50px;
}

.underline{
    color: red;      /*te underline i jep ngjyr*/
    
}


#normalText{
    font-size: normal;
    font-weight: normal;  /* e ben ndryshimin  e madhesis se shkronjave*/
}

#italictext{  /*e ndryshon formen e textit*/
    font-size: italic;
    font-weight: bold;

}

#obliquetext{
    font-size: oblique;
    font-weight:900 ;
}