@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-Thin.woff) format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-ThinIta.woff) format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-Exlig.woff) format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-ExligIta.woff) format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-LightIta.woff) format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-Ita.woff) format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-Book.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-BookIta.woff) format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-Medi.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-MediIta.woff) format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-BoldIta.woff) format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-Xbold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-XboldIta.woff) format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: KievitWeb;
  src: url(/fonts/KievitWeb-BlackIta.woff) format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: KievitWebItalic;
  src: url(/fonts/KievitWeb-Ita.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: KievitWebMedium;
  src: url(/fonts/KievitWeb-Medi.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: KievitWebMediumItalic;
  src: url(/fonts/KievitWeb-MediIta.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: KievitWebLight;
  src: url(/fonts/KievitWeb-Light.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: KievitWebLightItalic;
  src: url(/fonts/KievitWeb-LightIta.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: KievitWebBold;
  src: url(/fonts/KievitWeb-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: KievitWebBook;
  src: url(/fonts/KievitWeb-Book.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: KievitWebBookItalic;
  src: url(/fonts/KievitWeb-BookIta.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: KievitWebExtraLight;
  src: url(/fonts/KievitWeb-Exlig.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: KievitWebExtraLightItalic;
  src: url(/fonts/KievitWeb-ExligIta.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: KievitWebThin;
  src: url(/fonts/KievitWeb-Thin.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: KievitWebThinItalic;
  src: url(/fonts/KievitWeb-ThinIta.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: KievitWebBoldItalic;
  src: url(/fonts/KievitWeb-BoldIta.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: KievitWebExtraBold;
  src: url(/fonts/KievitWeb-Xbold.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: KievitWebExtraBoldItalic;
  src: url(/fonts/KievitWeb-XboldIta.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: KievitWebBlack;
  src: url(/fonts/KievitWeb-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: KievitWebBlackItalic;
  src: url(/fonts/KievitWeb-BlackIta.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: icomoon;
  src: url(/fonts/icomoon.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro';
  src: url(/fonts/HKGroteskPro-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro';
  src: url(/fonts/HKGroteskPro-ExtraLight.woff) format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro Book';
  src: url(/fonts/HKGroteskPro-Book.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro';
  src: url(/fonts/HKGroteskPro-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro';
  src: url(/fonts/HKGroteskPro-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro';
  src: url(/fonts/HKGroteskPro-Thin.woff) format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro';
  src: url(/fonts/HKGroteskPro-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro';
  src: url(/fonts/HKGroteskPro-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro Hairline';
  src: url(/fonts/HKGroteskPro-Hairline.woff) format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SSTJapanese';
  src: url(/fonts/38CD8E_1_0.woff2) format('woff2'), url(/fonts/38CD8E_1_0.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'SSTJapanese';
  src: url(/fonts/38CD8E_2_0.woff2) format('woff2'), url(/fonts/38CD8E_2_0.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'SSTJapanese';
  src: url(/fonts/38CD8E_0_0.woff2) format('woff2'), url(/fonts/38CD8E_0_0.woff) format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'SSTJapanese-Light';
  src: url(/fonts/38CD8E_1_0.woff2) format('woff2'), url(/fonts/38CD8E_1_0.woff) format('woff');
}

@font-face {
  font-family: 'SSTJapanese-Regular';
  src: url(/fonts/38CD8E_2_0.woff2) format('woff2'), url(/fonts/38CD8E_2_0.woff) format('woff');
}

@font-face {
  font-family: 'SSTJapanese-Bold';
  src: url(/fonts/38CD8E_0_0.woff2) format('woff2'), url(/fonts/38CD8E_0_0.woff) format('woff');
}

@font-face {
  font-family: 'CindieMono-A';
  src: url(/fonts/cindie-mono-a.woff2) format('woff2'), url(/fonts/cindie-mono-a.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CindieMono-B';
  src: url(/fonts/cindie-mono-b.woff2) format('woff2'), url(/fonts/cindie-mono-b.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CindieMono-C';
  src: url(/fonts/cindie-mono-c.woff2) format('woff2'), url(/fonts/cindie-mono-c.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CindieMono-D';
  src: url(/fonts/cindie-mono-d.woff2) format('woff2'), url(/fonts/cindie-mono-d.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CindieMono-E';
  src: url(/fonts/cindie-mono-e.woff2) format('woff2'), url(/fonts/cindie-mono-e.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CindieMono-F';
  src: url(/fonts/cindie-mono-f.woff2) format('woff2'), url(/fonts/cindie-mono-f.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextW01-CondensedBol';
  src: url(/fonts/258804c2-9ca6-4856-bad7-67cde4f087b4.woff2) format('woff2'),
    url(/fonts/0c0418fe-d324-4ab2-978a-e8201c646ca1.woff) format('woff');
}

@font-face {
  font-family: 'Trade Gothic Next W01';
  src: url(/fonts/d4eef5b1-2f4a-42d6-ae2d-6220d71243be.woff2) format('woff2'),
    url(/fonts/57625f96-ca80-4602-9644-ec1803cb3ba3.woff) format('woff');
}

@font-face {
  font-family: 'TradeGothicNextW01-Ital';
  src: url(/fonts/e41c3ce6-57bc-473c-aaf0-9e0e771bf6c8.woff2) format('woff2'),
    url(/fonts/3bde4253-d238-40b7-b813-eea7bdd9e80d.woff) format('woff');
}

@font-face {
  font-family: 'TradeGothicNextW01-Cond';
  src: url(/fonts/a8816340-0294-4243-8519-b2ccf08ca174.woff2) format('woff2'),
    url(/fonts/eb20bf3e-7a5c-4c98-8bc5-f38c1b3dd9f2.woff) format('woff');
}

@font-face {
  font-family: 'TradeGothicNextW01-Bold_693232';
  src: url(/fonts/b559a389-e9a7-4140-80af-cc5f64350983.woff2) format('woff2'),
    url(/fonts/a43fe47f-004d-4b6d-9a72-23de9e08f66e.woff) format('woff');
}

@font-face {
  font-family: 'TradeGothicNextW01-BdCn';
  src: url(/fonts/fd65fac5-f7ce-4a4b-ac7e-4d234fa01b0c.woff2) format('woff2'),
    url(/fonts/e66e3237-f0dc-4885-90eb-b71e55d0c057.woff) format('woff');
}

/* SharpGrotesk Begin */
@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-Black-15.otf) format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-BlackItalic-15.otf) format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-Bold-15.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-BoldItalic-15.otf) format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-SemiBold-15.otf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-SemiBoldItalic-15.otf) format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-Medium-15.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-MediumItalic-15.otf) format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-Book-15.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-BookItalic-15.otf) format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-Light-15.otf) format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-LightItalic-15.otf) format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-Thin-15.otf) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: SharpGrotesk;
  src: url(/fonts/SharpGrotesk-ThinItalic-15.otf) format('opentype');
  font-weight: 100;
  font-style: italic;
}
/* SharpGrotesk End */

/* SharpGrotesk-20 Begin */
@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-Black-20.otf) format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-BlackItalic-20.otf) format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-Bold-20.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-BoldItalic-20.otf) format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-SemiBold-20.otf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-SemiBoldItalic-20.otf) format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-Medium-20.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-MediumItalic-20.otf) format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-Book-20.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-BookItalic-20.otf) format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-Light-20.otf) format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-LightItalic-20.otf) format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-Thin-20.otf) format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SharpGrotesk-20';
  src: url(/fonts/SharpGrotesk-ThinItalic-20.otf) format('opentype');
  font-weight: 100;
  font-style: italic;
}
/* SharpGrotesk-20 End */
