body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

#horizontal-menu{
    list-style-type:none ;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#horizontal-menu li{
    float: left;
}

#horizontal-menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#horizontal-menu li a:hover:not(.active){
    background-color: #111;

}

.active{
    background-color: #aca;
}

.navbar{
    overflow: hidden;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-align: center;

}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    color: white;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover, .dropbtn{
    background-color: #acaf50;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown:hover .dropdown-content{
    display: block;
}

.column{
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
}

.column a{
    float: none;
    color:  black;
    padding: 16px;
    display: block;
    text-align: left;
}

.column a:hover{
    background-color: #ddd;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

#vertical-menu{
    list-style-type: none;
    margin: 0;
    width: 25%;
    height: 100%;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;

}

#vertical-menu li a{
    text-decoration:none ;
    color: black;
    padding: 8px 16px;
    display: block;  /*nuk i lejon qe elementet me dal ne nje rresht*/
}


#vertical-menu li a.active{
    background-color: #acaf50;
    color: white;
}

#vertical-menu li a.hover:not(.active){
    background-color: #333;
    color: white;
}

