#translate{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    transform: translate(100px,50px);
    padding: 10px;
}


#rotate{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    transform: rotate(90deg);

}


#scale{
     width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 150px;
    transform: scale(2,2);
}

#scaleX{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin-left: 150px;
    transform: scaleX(3);
    

}

#scaleY{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin-left: 250px;
    transform: scaleY(3);
}


#skewX{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 100px;
    transform: skew(-40deg);

}


#skewY{
     width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 100px;
    transform: skewY(40deg);

}


#rotateX {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 200px;
    transform: rotateX(130deg);

}


#rotateY {
     width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 200px;
    transform: rotateY(130deg);

}

#rotateZ {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 200px;
    transform: rotateZ(130deg);

}

#transitions{
    width: 200px;
    height: 200px;
    background: red;
    transition: background 3s, border-radius 5s;
    transition-timing-function: linear ;
    transition-delay: 1s;
}


#transitions:hover {
    background: blue;
    border-radius: 50%;
}

