/* p{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
} */

/* p{
    margin: 100px 100px 100px 100px;
} */


/* p{
    margin: 100px;

} */


/* p{
    margin: 25px 50px 75px;
} */

/* 
div{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
} */

/*div{
    margin: 100px 100px 100px 100px;
}*/


/*div{
    height: 200px;
    max-width: 500px;
    background-color: brown ;
}*/


body{
   /* background-color: rgb(131, 134, 189);*/ 
   background:url("../images/1.png") ;
   background-size: cover ;
}

div{
    width: 100px;
    border: 50px solid burlywood;
    padding: 30px;
    margin: 30px;

}

p{
    /*color: blue;*/
    /*color: rgb(28, 108, 194);*/
    /*color: #FF000 ;*/
    color: red;
    font-size: 20px;
   /* border: 2px solid black;*/


   border-width: 2px;
   border-style: solid;
   border-color: black;

}











