div.galery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.galery:hover{
    border: 1px solid #777;
}

div.galery img{
    width: 100%;
    height: auto;
}

div.decs{
    padding: 15px;
    text-align: center;
}


.sprite{
    background: url("../images/houses.png") no-repeat ;
}

.engineers{
    width: 500px;
    height: 500px;
    display: inline-block;
    /*background-position: 0 0;*/
    background-position: -500px -500px;

}


a[href="https://digitalschool.eu/"]{
    color: pink;
}

p[class*="ds"]{
    background-color: blue;
    color: white;
    padding: 20px;
}

div[id~="ds"]{
    background-color: green;
    color: white;
    padding: 20px;

}

img[title^="2"]{
    border: 2px solid rgb(201, 0, 0);
}



h1[class|=heading]{
    background-color: purple;
    color: white;
    padding: 20px;
}



input[placeholder$="name"]{
    border: 2px solid red;

}

input[readonly]{
    border: 2px solid orange;
}


