/*.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 14px 16px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown:hover .dropdown-content{
    display: block;
}


.tooltip{
    position: relative;
    display: inline-block;
    border: 1px dotted black;
}

.tooltiptext{
    visibility: hidden;
    background-color: black;
    color: white;
    z-index: 1;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    position: absolute;
    left: 50%;
    bottom: 150%;
    margin-left: -40px;
    z-index: 1;
}


.tooltip:hover .tooltiptext{
    visibility: visible;
}

.tooltip .tooltiptext::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    margin-left:-5px ;
    border-width: 5px;
    border-style:solid ;
    border-color:black transparent transparent transparent ;

}*/


/*body{
    counter-reset:number ;
}

h2::before{
    counter-increment: number;
    content: counter(number);
    background-color: white;
    margin: 5px 12px;
    color: #00014e;
    border-radius: 50%;
    padding: 5px;

}*/

/*:root{
    --primary-color: #a1a1a1;
    --secondary-color: #222;
    --padding: 20px;
}

h1{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}

p{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}

.img{
    width: 150px;
    height: 150px;
}*/



body{
    background-color: red;
    background-image: url("../images/engineers.png"), url("../images/hipsters.png");
    background-repeat: repeat-x, no-repeat;
}


.example1{
    border-radius: 10px;
    background-color: #BADA55;
    width: 200px;
    height: 200px;
}


.example2{
    border-radius: 10px;
    border:3px solid #BADA55;
    width: 200px;
    height: 200px;
}



.example3{
    border-radius: 5px 60px 5px;
    background-color: #BADA55;
    width: 200px;
    height: 200px;
}


.example4{
    border-radius: 10px/30px;
    background-color: #BADA55;
    width: 200px;
    height: 200px;
}


.example5{
    border-radius: 10px/30px;   
    width: 200px;
    height: 200px;
}



.shadow{
 -moz-box-shadow: 2px 2px 4px 5px #eee;
 -webkit-box-shadow: 2px 2px 4px 5px #eee;
 box-shadow: 2px 2px 4px 5px #eee;;
}









